<h1>About Me</h1>
<hr>

<div class ="row">
  <div class ="col-md-6">
    <%= image_tag "20190330_075120.jpeg", width: 300, alt: "image" %>
  </div>
  <div class ="col-md-6">
    <p>This is personal content to describe myself in the context of software development.
    My philosphy is software writing is equivalent to expressing yourself in a creaive immersive way that exposes the viewer to something inspirational.</p>

    <p> Borrowing a philosphy from DHH, software development is equivalent to writing a story - with visual clues to engage the reader.
        Using well-versed design patterns and the latest tools, I'm informed via Github about security violations and platform (IOS) changes that
    impact my applications.</p>
  </div>
  </div>

