<h1>About Me</h1>
<p>This is personal content to describe myself in the context of software development. My philosphy is software writing is equivalent to expressing yourself in a creaive immersive way that exposes the viewer to something inspirational.</p>
