  <main role="main" class="inner cover">
    <h1 class="cover-heading">Landing Page!</h1>
    <p class="lead"> Welcome to the page that is for a demonstration. Here is content that describes the purpose of whatever this site is supposed to be. It should be inspirational. Maybe add a waterfall image?</p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary"%>
    </p>
  </main>

