
<%= image_tag @portmanteau.main_image %>

<h1><%= @portmanteau.title %></h1>

<em><%= @portmanteau.subtitle %> </em>

<p><%= @portmanteau.body%> </p>

<a href="portmanteaus/new">Create New Portfolio </a>


